  //Color
    $bc1: #76ac30!important;
    $bc2: #f5ffe9!important;
    $bc3: #60da47!important;
    $bc4: #ec2825!important;
   
    $c: #fff!important;
    $c1: #666!important;
    $c2: #292929!important;
    $c3: #876f19!important;
    $c4: #c7a79f !important;
    $c5: #403221!important;
    $c6: #f1dada!important;
    

    $b: #efefef !important;

    //Font
    $f1: "IBM Plex Mono", monospace;
    $f2: cursive;
    $f3: 'Playfair Display',serif;
    $f4: 'Poppins', sans-serif;